/vendor
/node_modules
/.env
/storage/*.key
/nbproject/private/
/public/storage/
/storage/app/public/donation_photos/
/storage/framework/cache/data/
/storage/app/private/verification_documents/
/storage/app/public/verification_documents/
